<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaDesignPatterns/src/com/yatish/Creational_Design_Patterns/J2_2_BreakingSingleton_Using_Reflection.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yatish.Creational_Design_Patterns.J2_2_BreakingSingleton_Using_Reflection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaDesignPatterns"/>
</launchConfiguration>
