<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java7Tutorial/src/com/yatish/ExceptionHandling/J3_Return_From_Both_Try_And_Finally.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yatish.ExceptionHandling.J3_Return_From_Both_Try_And_Finally"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java7Tutorial"/>
</launchConfiguration>
